recursive-include n_utils/includes *.yaml *.yml *.js *.sh *.repo *.j2 *.te *.ps1
include n_utils/includes/lpass_centos_7
include n_utils/includes/lpass_ubuntu_14.04
include n_utils/includes/lpass_ubuntu_16.04
include n_utils/includes/lpass_ubuntu_16.10
include n_utils/includes/lpass_ubuntu_17.04
